label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;     
    margin-bottom: 15px;
    width: 200px;
    padding: 8px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(233, 228, 217);
}

form {
    background: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.uprava1 {
    background: blue;
    color: white;
    border-radius: 10px;
}
