html, body {
    min-height: 100%;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4690f0, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    background-color: #1e1e2f;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NADPIS{
    font-size:36px;
    text-decoration: none; 
    border-bottom: 7px solid yellow;
    display: inline-block;
    font-family: 'Georgia', serif;
}

.logo img {
    height: 35px;      
    width: auto;       
    display: block;   
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: #44446a;
}

.container {
    padding: 30px;
}

form {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

form input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #1e1e2f;
    color: white;
    border: none;
}


/*  Rozvrh a harmonogram */

.uprava12 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e1e2f;
    letter-spacing: 2px;
}

.uprava_rozvrhu {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    border-collapse: collapse;
    background-color: white;
}

.uprava_rozvrhu th,
.uprava_rozvrhu td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.uprava_rozvrhu th {
    background-color: #1e1e2f;
    color: white;
}

.uprava_rozvrhu tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.uprava_rozvrhu tr:hover td {
    background-color: #e6e6ff;
}


.gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.gallery-item {
    width: 220px;       /* šírka rámika */
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gallery-item img {
    width: 100%;
    height: auto;        
    object-fit: contain;  
    display: block;
}

.gallery-item p {
    margin: 0;
    padding: 6px;
    font-weight: bold;
    background: #eef4ff;
}

.dva_stlpce {
    display: flex;
    gap: 10px;
    padding: 50px;
    font-size: 20px;
   
}

.stlpec {
    flex: 1;
}

.zoznam_img {
    margin-top: 20px;
    width: 220px;
    height: 220px;
    object-fit: contain;
    border-radius: 12px;
}
